<div class="column">
  <div class="hero">
    <div class="hero-body">
      <div class="container"> 
        <div class="content has-text-centered">
          <h1 class="title"><%= about_the_museum %></h1>
          <p class="subtitle">
            <%= text_body %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
