<div class="hero">
  <p>
  ΤΟ ΜΟΥΣΕΙΟ ΑΠΩΘΗΜΕΝΩΝ
  21.5.1926 ~ 21.5.1926


  Στόχος του κειμένου δεν είναι μια απλή καταγραφή των αναρίθμητων απωθημένων του ανθρώπινου είδους. Εάν γινόταν αυτό, θα συνιστούσε κατάλογο δίχως τέλος. Το περιεχόμενό του θα απλωνόταν σε περισσότερες βιβλιοθήκες από όσες θα ήταν ποτέ δυνατόν να κατασκευαστούν, ενώ ο χώρος που θα τις στέγαζε θα ήταν το ίδιο αχανής και απροσδιόριστος σαν την ανθρώπινη επιθυμία.

  Κάθε τέτοιο εγχείρημα θα ήταν καταδικασμένο να μείνει ανολοκλήρωτο.

  Το γεγονός αυτό όμως δεν εμπόδισε τη φιλοδοξία του ιδρυτή του αρχείου να προσπαθήσει να καταγράψει, να απαριθμήσει, να ταξινομήσει και αργότερα να επιχειρήσει να στεγάσει τα ίδια τα απωθημένα.

  Η ίδρυση του Μουσείου Ανικανοποίητου (μετέπειτα γνωστό ως Μουσείο Απωθημένων) έγινε επίσημα το 1926, έπειτα από σκληρούς αγώνες του Γεωργίου Σφήκα να πραγματοποιήσει την τελευταία επιθυμία της συζύγου του Αγλαΐας.

  Το φανταστικό αυτό εγχείρημα στάθηκε αρκετά μπροστά από την εποχή του. Αρκετοί έσπευσαν να χλευάσουν τις προσπάθειές του για τη χρηματοδότηση του κτηρίου του μουσείου. Ο ίδιος όμως δεν πτοήθηκε ποτέ σε αυτή την προσπάθεια. Χαρακτηριστικά έλεγε: «Εάν τα καταφέρω, το μουσείο θα στερηθεί ενός ακόμα εκθέματος.»

  Ταξιδεύοντας αδιάλειπτα -με μοναδικό στόχο την απόκτηση γνωστών συλλογών και την ένταξή τους στα εκθέματα του μουσείου-, συνέχισε να συλλέγει καθημερινά, και για το μεγαλύτερο κομμάτι της ζωής του, ανεκπλήρωτους πόθους. Συζητώντας τόσο με μεγάλες προσωπικότητες της εποχής του όσο και με απλούς ανθρώπους, το παράτολμο εγχείρημά του άρχισε να βρίσκει πρόσφορο έδαφος σε κύκλους ευκατάστατων οικογενειών. Οι περισσότεροι του εμπιστεύτηκαν, χωρίς κανένα δισταγμό, τους πιο απόκρυφους ανικανοποίητους πόθους τους. Τρεις από αυτούς ορίστηκαν εγγυητές του δανείου για την ανοικοδόμηση του κτηρίου που έμελλε να στεγάσει τα απωθημένα.

  Το μυθικό ποσό των εξακοσίων δέκα χιλιάδων δραχμών δανειοδοτήθηκε το 1923 από την Εθνική Τράπεζα. Η ανέγερση του κτηρίου ξεκίνησε στα μέσα της ίδιας χρονιάς από γνωστό αρχιτέκτονα των Αθηνών.

  Όταν το απωθημένο της επανάστασης κατέφτασε από το Παρίσι, η ημερομηνία των εγκαινίων ορίστηκε για τις 21 Μαΐου 1926. Ο Γεώργιος, με υψηλό πυρετό, εξαντλημένος από την υπερένταση των προετοιμασιών, συνέχιζε αδιάλειπτα να προσθέτει και να ταξινομεί εκθέματα μέχρι τη μοιραία μέρα. Στενοί συνεργάτες δεν έκρυβαν την ανησυχία τους, φοβούμενοι πως τελικά δεν θα ολοκλήρωνε το έργο της ζωής του, πως τα απωθημένα τελικά θα τον «έτρωγαν».

  Την ημέρα των εγκαινίων κατέφτασαν εκατοντάδες Αθηναίοι αλλά και άνθρωποι από όλη την οικουμένη. Το πενταώροφο κτήριο, περίλαμπρο και φωτισμένο, τους περίμενε. Σιγά σιγά οι αίθουσές του γέμισαν από ανθρώπους όλων των ηλικιών και των κοινωνικών τάξεων, ανθρώπους γεμάτους απωθημένα. Και τότε η τραγωδία συνέβη.

  Το μουσείο άρχισε να γεμίζει. Αίθουσα με αίθουσα και δωμάτιο με δωμάτιο ξεχείλισαν με τις ανεκπλήρωτες επιθυμίες τους. Τα ράφια λύγισαν, οι προσθήκες έσπασαν, οι τοίχοι γέμισαν από το ταβάνι μέχρι το πάτωμα με νέα εκθέματα. Δεν έμεινε σπιθαμή χώρου για τους έντρομους επισκέπτες, που εγκατέλειπαν άτακτα το κτήριο. Όταν κάθε μικρή γωνίτσα είχε πια γεμίσει και ο τελευταίος πανικόβλητος επισκέπτης είχε εγκαταλείψει το μουσείο, η πόρτα του σφραγίστηκε για πάντα.

  Έξω είχαν μείνει μόνο ελάχιστοι παραξενεμένοι περαστικοί, με μια αβέβαιη αίσθηση ότι πάρα τρίχα γλίτωσαν από κάτι δυσάρεστο και επικίνδυνο.
  </p>
</div>
