.museum-about-text {
  padding-left: 150px;
  padding-right: 150px;
}

.repress_form {
  margin-top: 80px;
}

.repress_form textarea {
  min-height: 200px;
}

.footer, body {
  background: white;
}

img {
  height:initial!important;
  width:initial!important;
  max-height:100%!important;
  max-width:100%!important;
  margin:auto!important;
}
